:root {
    --cor-primaria: #5d15d1;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'raleway';
}

#cabecalho {
    color: var(--cor-primaria);
    display: flex;
    padding: 10px 10%;

    img {
        height: 32px;
        margin-right: 5px;
    }
}

@media (max-width:768px) {
    #cabecalho {
        padding: 10px;

        img {
            height: 32px;
        }

        h1 {
            font-size: 25px;
        }
    }
}

#secao-oracamento {
    display: flex;
    min-height: 100vh;
    padding: 50px 10px;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/imagens/bahia.jpg');

    .area-formulario {
        width: 100%;
        margin: auto 10%;

        h1 {
            padding: 10px;
            display: flex;
            color: #fff;
            justify-content: center;
            background-color: var(--cor-primaria);

            img {
                width: 30px;
                margin-right: 10px;
                transform: rotate(-50deg);
            }
        }

        form {
            display: flex;
            padding: 20px;
            max-width: 100%;
            flex-direction: column;
            background-color: #fff;

            h2 {
                padding: 10px 0;
            }

            label {
                padding: 10px 0;
            }

            input, select {
                padding: 5px;
            }

            .grupo-itens {
                gap: 15px;
                display: flex;
                justify-content: space-between;

                div {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                }
            }

            .grupo-cama-infantil {
                padding-top: 10px;
                width: max-content;

                .grupo-radio {
                    display: flex;
                    justify-content: space-between;

                    div {
                        display: flex;
                    }
                }

                input[type=radio] {
                    margin-right: 10px;
                }
            }

            .grupo-preferencia-hospedagem {
                width: max-content;

                .grupo-checkbox {
                    gap: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    div {
                        padding: 10px 0;
                    }
                }
            }

            button {
                padding: 10px;
                color: #fff;
                margin: 10px 0;
                width: max-content;
                background-color: var(--cor-primaria);
            }
        }
    }
}

#rodape {
    color: #fff;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    background-color: var(--cor-primaria);

    div {
        padding: 10px;
    }

    h3 {
        padding-bottom: 10px;
    }

    ul {
        img {
            height: 16px;
            margin-right: 5px;
        }

        li {
            padding: 3px;
            list-style: none ;
        }
    }
}

@media (max-width: 768px) {
    #rodape {
        flex-direction: column;
        justify-content: center;

        div {
            width: 280px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 540px) {
    #secao-oracamento {
        .area-formulario {
            margin: auto 0;

            form {
                .grupo-itens {
                    gap: 0;
                    flex-direction: column;
                }

                .grupo-cama-infantil {
                    .grupo-radio {
                        flex-direction: column;

                        div {
                            width: max-content;
                        }
                    }
                }

                .grupo-preferencia-hospedagem {
                    .grupo-checkbox {
                        gap: 0;
                        flex-direction: column;
                    }
                }

                button {
                    width: 100%;
                }
            }
        }
    }
}