:root {
    --cor-primaria: #5d15d1;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'raleway';
}

#cabecalho {
    color: var(--cor-primaria);
    display: flex;
    padding: 10px 10%;

    img {
        height: 32px;
        margin-right: 5px;
    }
}

#secao-oracamento {
    display: flex;
    min-height: 100vh;
    padding: 50px 10%;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/imagens/bahia.jpg');

    .area-formulario {
        width: 100%;

        h1 {
            padding: 10px;
            display: flex;
            color: #fff;
            justify-content: center;
            background-color: var(--cor-primaria);

            img {
                width: 30px;
                margin-right: 10px;
                transform: rotate(-50deg);
            }
        }

        form {
            display: flex;
            padding: 20px;
            max-width: 100%;
            flex-direction: column;
            background-color: #fff;

            h2 {
                padding: 10px 0;
            }

            label {
                padding: 10px 0;
            }

            input, select {
                padding: 5px;
            }

            .grupo-itens {
                gap: 15px;
                display: flex;
                justify-content: space-between;

                div {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                }
            }

            .grupo-cama-infantil {
                padding-top: 10px;
                width: max-content;

                .grupo-radio {
                    display: flex;
                    justify-content: space-between;

                    div {
                        display: flex;
                    }
                }

                input[type=radio] {
                    margin-right: 10px;
                }
            }

            .grupo-preferencia-hospedagem {
                width: max-content;

                .grupo-checkbox {
                    gap: 50px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    div {
                        padding: 10px 0;
                    }
                }
            }

            button {
                padding: 10px;
                color: #fff;
                margin: 10px 0;
                width: max-content;
                background-color: var(--cor-primaria);
            }
        }
    }
}

#conteudos {
    padding: 0 10%;
    min-height: 100vh;
    background-color: #EAEAEA;

    p {
        padding: 10px 0;
    }

    .ofertas {
        padding: 20px 0;

        .grupo-ofertas {
            color: #fff;
            display: flex;
            justify-content: space-between;

            p {
                width: 100%;
                padding: 5px 10px;
                background-color: #000000a2;
            }

            .cartao {
                display: flex;
                align-items: end;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .c1 {
                height: 400px;
                width: calc(50% - 10px);
                background-image: url('/assets/imagens/rio.jpg');
            }

            .grupo-cartoes{
                gap: 20px;
                display: flex;
                flex-wrap: wrap;
                width: calc(50% - 10px);

                .c2, .c3, .c4, .c5 {
                    width: calc(50% - 10px);
                    height: calc(50% - 10px);
                }

                .c2 {
                    background-image: url('/assets/imagens/manaus.jpg');
                }

                .c3 {
                    background-image: url('/assets/imagens/saopaulo.jpg');
                }

                .c4 {
                    background-image: url('/assets/imagens/niteroi.jpg');
                }

                .c5 {
                    background-image: url('/assets/imagens/maranhao.jpg');
                }
            }
        }
    }

    .anuncios {
        padding: 20px 0;

        .grupo-anuncios {
            display: flex;
            justify-content: space-between;

            .grupo-cartoes-info {
                width: calc(50% - 10px);

                .cartoes-anuncios {
                    height: 400px;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .ca1 {
                    background-image: url('/assets/imagens/lencol.jpg');
                }

                .ca2 {
                    background-image: url('/assets/imagens/goias.jpg');
                }

                .informacoes {
                    background-color: #fff;
                    margin-top: 5px;
                    padding: 10px;
                }

                .informacoes p:first-of-type {
                    font-weight: bold;
                }
            }
        }
    }
}

#rodape {
    color: #fff;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    background-color: var(--cor-primaria);

    div {
        padding: 10px;
    }

    h3 {
        padding-bottom: 10px;
    }

    ul {
        img {
            height: 16px;
            margin-right: 5px;
        }

        li {
            padding: 3px;
            list-style: none ;
        }
    }
}

@media (max-width: 768px) {
    #cabecalho {
        padding: 10px;

        img {
            height: 32px;
        }

        h1 {
            font-size: 25px;
        }
    }

    #secao-oracamento {
        padding: 50px 10px;
    }

    #conteudos {
        padding: 0 20px;

        .ofertas {
            .grupo-ofertas {
                flex-direction: column;
                gap: 10px;

                .cartao {
                    width: 100%;
                    height: 200px;
                }

                .grupo-cartoes{
                    width: 100%;
                    flex-direction: column;

                    .c2, .c3, .c4, .c5 {
                        width: 100%;
                        height: 200px;
                    }
                }
            }
        }

        .anuncios {

            .grupo-anuncios {
                gap: 20px;
                flex-direction: column;

                .grupo-cartoes-info {
                    width: calc(100%);
                }
            }
        }
    }

    #rodape {
        flex-direction: column;
        justify-content: center;

        div {
            width: 280px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 540px) {
    #secao-oracamento {
        .area-formulario {
            margin: auto 0;

            form {
                .grupo-itens {
                    gap: 0;
                    flex-direction: column;
                }

                .grupo-cama-infantil {
                    .grupo-radio {
                        flex-direction: column;

                        div {
                            width: max-content;
                        }
                    }
                }

                .grupo-preferencia-hospedagem {
                    .grupo-checkbox {
                        gap: 0;
                        flex-direction: column;
                    }
                }

                button {
                    width: 100%;
                }
            }
        }
    }
}